[Desktop Entry]
Type=Application
Name=io.gitlab.evlaV.srcpkg-dl
Comment=(download and) convert/deobfuscate source package to git (and upload)
Exec=srcpkg-dl
Icon=srcpkg-dl
Terminal=true
Categories=Utility;ConsoleOnly;
