/git-remote.conf
/srcpkg-dl.conf
/variant.mk
/SRCPKG2GIT/
/SRCPKG2GIT_tmp/
/xdg/srcpkg2git-gen.desktop

/*.tar
/*.tar.gz
/*.tar.xz

/alpm/srcpkg2git/*
!/alpm/srcpkg2git/PKGBUILD
!/alpm/srcpkg2git/.SRCINFO

/alpm/srcpkg2git-git/*
!/alpm/srcpkg2git-git/PKGBUILD
!/alpm/srcpkg2git-git/.SRCINFO

/alpm/srcpkg2git-git-tag/*
!/alpm/srcpkg2git-git-tag/PKGBUILD
!/alpm/srcpkg2git-git-tag/.SRCINFO

/alpm/srcpkg2git-local/*
!/alpm/srcpkg2git-local/git-commit.sh
!/alpm/srcpkg2git-local/git-credential-bashelper.sh
!/alpm/srcpkg2git-local/git-credential-shelper.sh
!/alpm/srcpkg2git-local/git-remote.conf.template
!/alpm/srcpkg2git-local/git-remote.sh
!/alpm/srcpkg2git-local/LICENSE
!/alpm/srcpkg2git-local/LICENSE.GPL
!/alpm/srcpkg2git-local/LICENSE.MPL
!/alpm/srcpkg2git-local/Makefile
!/alpm/srcpkg2git-local/PKGBUILD
!/alpm/srcpkg2git-local/.SRCINFO
!/alpm/srcpkg2git-local/srcpkg2git-gen.desktop.part
!/alpm/srcpkg2git-local/srcpkg2git-logo-brown.png
!/alpm/srcpkg2git-local/srcpkg2git-logo.png
!/alpm/srcpkg2git-local/srcpkg2git.mk
!/alpm/srcpkg2git-local/srcpkg2git.sh
!/alpm/srcpkg2git-local/srcpkg2git-system-bin.desktop
!/alpm/srcpkg2git-local/srcpkg2git-system-bin.service
!/alpm/srcpkg2git-local/srcpkg2git.timer
!/alpm/srcpkg2git-local/srcpkg-dl-bot-gen.desktop.part
!/alpm/srcpkg2git-local/srcpkg-dl-bot.mk
!/alpm/srcpkg2git-local/srcpkg-dl-bot-system-bin.desktop
!/alpm/srcpkg2git-local/srcpkg-dl-bot-system-bin.service
!/alpm/srcpkg2git-local/srcpkg-dl-bot.timer
!/alpm/srcpkg2git-local/srcpkg-dl.conf.template
!/alpm/srcpkg2git-local/srcpkg-dl-gen.desktop.part
!/alpm/srcpkg2git-local/srcpkg-dl.mk
!/alpm/srcpkg2git-local/srcpkg-dl.sh
!/alpm/srcpkg2git-local/srcpkg-dl-system-bin.desktop
!/alpm/srcpkg2git-local/srcpkg-dl-system-bin.service
!/alpm/srcpkg2git-local/srcpkg-dl.timer

/alpm/srcpkg2git-tar/*
!/alpm/srcpkg2git-tar/PKGBUILD
!/alpm/srcpkg2git-tar/.SRCINFO

/srcpkg2git*/
/srcpkg2git*.tar
/srcpkg2git*.tar.bz2
/srcpkg2git*.tar.gz
/srcpkg2git*.tar.lz
/srcpkg2git*.tar.lzma
/srcpkg2git*.tar.xz
/srcpkg2git*.tar.zst
/srcpkg2git*.zip

/appimage/*.AppDir/
/*.AppImage
/*.zsync

/.flatpak-builder/
/flatpak-build-dir/
/flatpak-repo/
/*.flatpak
