[Unit]
Description=(download and) convert/deobfuscate source package to git (and upload)
After=network.target

[Service]
# edit this variable (WorkingDirectory) value if necessary (full PATH) - '~'/'$HOME' may be '/root' (/root/.local/bin)
#WorkingDirectory=~/.local/bin
#ExecStart=./srcpkg2git
#ExecStart=srcpkg2git
# edit this variable (ExecStart) value if necessary (full PATH) - '$HOME' may be '/root' (/root/.local/bin)
ExecStart=/usr/bin/bash -c 'exec "$HOME/.local/bin/srcpkg2git'

[Install]
WantedBy=multi-user.target
