[Desktop Entry]
Type=Application
Name=srcpkg-dl-bot
Comment=(download and) convert/deobfuscate source package to git (and upload)
Exec=srcpkg-dl --auto
Icon=srcpkg-dl-bot
Terminal=true
Categories=Utility;ConsoleOnly;
